@media (max-width: 59em) {
  html {
    /* 8/16=0.5 = 50% */
    font-size: 50%;
  }
}
@media (max-width: 42em) {
  html {
    font-size: 30%;
    /* font-size: 40%; */
  }
}
@media (max-width: 27em) {
  html {
    font-size: 20%;
  }
  header {
    background-image: linear-gradient(
        rgba(243, 243, 243, 0.3),
        rgba(243, 243, 243, 0.3)
      ),
      url(background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-position: center; */
  }
}
